{% extends "base.html" %}
{% block content %}

<div class="container mt-3 text-center">
    <h4>Update Borrower</h4>
    <hr>
</div>
<!-- display success message if the borrower details were successfully updated -->
<!-- add text and search button-->
<div class="container mt-3 text-center">
    <form action="/borrowerupd1" method="GET", "POST">
        <input type="text" name="borrowerid">
        <input type = "submit" value="Update">    
    </form>
</div>
<br>
<div class="container"> 
     <table>  <!-- list all borrowers in a table. Display the borrowerlist in table formatting, and make each row is striped, hoverable, and bordered-->
        <table class="table table-striped table-hover  table-bordered">
            <thead class="table-primary">  <!-- the table head's colour is blue-->
                <tr><th>Borrower ID</th><th>First Name</th><th>Family Name</th><th>Date of Birth</th>
               <th>House Number</th><th>Street</th><th>Town</th><th>City</th><th>Postal Code</th><th>Action</th></tr>
            </thead>
            <tbody>
            {% for borrower in borrowerlist %}
            <tr>
                <td>{{borrower[0]}}</td>
                <td>{{borrower[1]}}</td>
                <td>{{borrower[2]}}</td>
                <td>{{borrower[3]}}</td>
                <td>{{borrower[4]}}</td>
                <td>{{borrower[5]}}</td>
                <td>{{borrower[6]}}</td>
                <td>{{borrower[7]}}</td>
                <td>{{borrower[8]}}</td>
                <td>qqq</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </table>
</div> 
{% endblock %}