{% extends "staff.html" %}
{% block content %}

<div class="container mt-3 text-center">
    <h5>Loan Summary</h5>
    <hr>
</div>
<div class="container">
    <table>    

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-primary"> 
                <tr>
                    <th>Book ID </th>
                    <th>Title </th>
                    <th>Author </th>
                    <th>Category</th>
                    <th>Year of Public</th>
                    <th>Total Loan Count</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loansummary %}
                <tr>
                  <td>{{ loan[0] }}</td>
                  <td>{{ loan[1] }}</td>
                  <td>{{ loan[2] }}</td>
                  <td>{{ loan[3] }}</td>
                  <td>{{ loan[4] }}</td>
                  <td>{{ loan[5] }}</td>
                </tr>
              {% endfor %}
            </tbody> 
        </table>
    </table>
</div>
{% endblock %}
