{% extends "staff.html" %}
{% block content %}

<section>
    <div class="container mt-3 text-center">
        <h5>Please select the borrower and update information </h5>
        <br>
    </div>
    
    <form action="/staff/update_borrower" method="post"> <!-- the form submitted using POST to the /staff/update_borrower -->
        <div class="container mt-3 text-center">
            <label>Borrower: </label>
                <select name="borrower" id="borrower" required>   <!-- a drop down box of Borrowers,shown with borrower's id, firstname, and familyname. This field is required field -->
                    <option value="">--Borrower's ID and name--</option>
                    {% for borrower in borrowers %}
                    <option value="{{ borrower[0] }}">{{ borrower[0] }} {{borrower[1]}} {{borrower[2]}} </option> 
                    {% endfor %}
                </select>
        </div>


        <div class="container mt-3 text-center">
            <input type = "submit" value = "Sumbit" /> 
            <input type = "reset" value = "cancel" />
        </div> 
    </form>       
    

</section>

{% endblock %}