{% extends "staff.html" %}
{% block content %}

<section>
    <div class="container mt-3 text-center"> 
        <h5>Please update borrower's information </h5>
        <br>
    </div>
    <form action="/staff/update_borrower_submit" method="POST" class="mx-auto w-50">      <!--the form submitted using POST to the /staff/update_borrower_submit route -->

        <div class="container mt-3 text-left">         <!-- make the width to 50%,wrap each form input and label, 16px between diffrent inputboxes, margin-top of 24px between the form groups and the submit botton -->
            <label>Borrower's information:</label>
            <br>
            {% for borrower in borrowers %}  
            <div class="form-group">
                <label for="borrowerid">Borrower ID</label>
                <input type="text" id="borrowerid" name="borrowerid" value="{{ borrower[0] }}" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" value="{{ borrower[1] }}" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="familyname">Family Name</label>
                <input type="text" id="familyname" name="familyname" value="{{ borrower[2] }}" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="dateofbirth">Date of Birth</label>
                <input type="text" id="dateofbirth" name="dateofbirth" value="{{ borrower[3] }}" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="housenumbername">House Number</label>
                <input type="text"  id="housenumbername" name="housenumbername" value="{{ borrower[4] }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" id="street" name="street"  value="{{ borrower[5] }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" id="town" name="town"  value="{{ borrower[6] }}" class="form-control">
            </div>

            <div class="form-group">                
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city"  value="{{ borrower[7] }}" >
            </div>
                
            <div class="form-group"> 
                <label for="postalcode">Postal Code</label>
                <input type="text" class="form-control" id="postalcode" name="postalcode"  value="{{ borrower[8] }}">
            </div>

                {% endfor %}      

        </div>
 


        <div class="container mt-3 text-center">
            <input type = "submit" value = "Sumbit" /> 
            <input type = "reset" value = "cancel" />
        </div>
        
    
    </form>
</section>

{% endblock %}